@charset "UTF-8";

/* Light theme color */
$light-background: rgb(251, 251, 255);
$light-background-secondary: #eaeaea;
$light-background-header: rgb(103, 114, 229);
$light-color: rgb(9, 61, 141);
$light-color-variant: white;
$light-color-secondary: rgb(59, 130, 246);
$light-border-color: #8f95b5;
$light-table-color: #8f95b5;

/* Dark theme colors */
$dark-background: #1e293b;
$dark-background-secondary: #1e293b;
$dark-background-header: #1e293b;
$dark-color: rgb(208, 212, 252);
$dark-color-variant: white;
$dark-color-secondary: rgb(96, 165, 250);
$dark-border-color: #8f95b5;
$dark-table-color: #8f95b5;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;